#stored_posts{
    margin:3rem auto 3rem auto;
    padding:2rem;
    border-radius:12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color:white;
    width: 85%;
    max-width: 30rem;
}

#stored_posts_h2 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin-top: 6rem;
    
  }

#stored_posts ul{
    list-style:none;
    padding: 0;
    margin:0;

}
#stored_posts li{    
    margin:1rem auto;
    display: flex;
    justify-content: center;
}
#stored_posts a{
    display:block;
    width:70%;
    padding:0.5rem;    
    text-decoration: none;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#stored_posts h2{
    text-align: center;
    
}

#stored_posts a:hover,
#stored_posts a:active{
    background-color:#390281;
    color:white;
}

#stored_posts img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

@media (max-width: 768px) {
  #stored_posts {
    width: 90%;
    max-width: none;
  }

  #stored_posts_h2 {
    margin-top: 3rem;
  }

  #stored_posts li {
    flex-direction: column;
    align-items: center;
  }

  #stored_posts a {
    width: 100%;
    margin: 0.5rem 0;
  }

  
}
