{% extends 'layout.html' %}
{% load static %}
{% block title %}{{post.title}}{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'blog/blog_post.css' %}">
{% endblock css_file %}


{% block content %}

{% if comment.errors %}
  <div id="alert">
    <h2>Saving the comment failed!</h2>
    <p>Please check the comment form below the post and fix your errors.</p>
    <a href="#comment-form">Fix!</a>
  </div>
{% endif %}

<section id='summary'>
    <h2>{{post.title}}</h2>
    <div>
        {% for tag in tags %}
            <span class="tag"> {{ tag.name }} </span>
        {% endfor %}
    </div>

<div id="read-later">
    <form action="{% url "read-later" %}" method="POST">
        {%csrf_token%}
        <input type="hidden" value="{{post.id}}" name="post_id">
        <button> 
            {%if is_saved_for_later%}
            Remove from Read Later
            {%else%}
            Read Later
            {%endif%}
        </button>
    </form>
</div>    

    <article>        
        <img src="{{post.image.url}}" alt="{{post.title}}">
        <address>By <a href="mailto:{{post.author.email}}">{{post.author|title}}</a></address>
        <div id="last-updated">
            Last updated on <time> {{post.date|date:"d M Y"}}</time>
        </div>
    </article>
</section>

<main>
    {{post.content|linebreaks}}
</main>

<h1 id="comments-header">Comments:</h1>
<section id = "comments">
    <ul>
        {%for comment in all_comments%}        
            <li> 
                <h2>{{comment.author|title}}</h2>
                <p>{{comment.content|linebreaks}}</p>
                <p style="font-size:12px;color:grey;">--{{comment.date}}--</p>
            </li>             
        {%endfor%}
    </ul>
</section>


<section id="comment-form">
    <h2>Your Comment!</h2>
    <form action="{% url 'blog-post' post.slug%}" method="POST">
        {% csrf_token %}
        {% for field in comment%}
            <div class="form-control {% if field.errors %}invalid{% endif %}">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
            </div>
        {%endfor%}
        <button type="submit">Comment!</button>
    </form>
</section>

{% endblock content %}