{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/home.css' %}">
{% endblock css_file %}


{% block content %}



<section id='welcome'>
    <header>
   <div id="my-photo"> 
    <img src="{% static "blog/images/1.JPG"%}" alt="this is victor the creator of the blog">
    <h2>Victor's blog</h2>
    </div>
    <p>Hello, My name is Victor, and I want to share with you a little bit of my life</p>
    </header>        
</section>

<section id='latest-posts'>
<h2>My latest thoughts</h2>
<ul>
    {% for post in posts %}
        {% include 'blog/includes/post.html' %}
    {% endfor %}
</ul>
<a id="all-posts" href="{% url "blog-all-posts" %}"> All posts </a>

</section>


<section id='about'>
    <h2>About Me</h2>
    <p>
        I am a <strong>Software Engineer</strong> focused on building robust back-end systems and scalable web applications.
    </p>
    
    <div id="contact-links">
        <p>Let's connect:</p>
        <ul style="list-style: none; padding: 0;">
            <li>📧 <a href="mailto:victorbnogueira@gmail.com">Email Me</a></li>
            <li>🔗 <a href="https://www.linkedin.com/in/victor-barbosa-8b6a53247/" target="_blank">LinkedIn</a></li>
            <li>💻 <a href="https://github.com/victorbarbosan" target="_blank">GitHub</a></li>
        </ul>
    </div>

    <p style="font-size: 0.8rem; color: #666; margin-top: 20px;">
        © 2026 Victor Barbosa | Hosted on my Raspberry Pi
    </p>
</section>

{% endblock content %}